.tabContainer {
  max-width: 500px;
  background-color: #F4F4F4;
  margin: 0 auto;
}
.tab {
  display:inline-block;
  padding: 15px 25px;
  width: 75px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: arial, helvetica;
  cursor: pointer;
}
.tabBar {
  background-color: #999999;
}

.active {
  background-color: #0092FF;
}

#tabContent2 {
  display:none;
}

.listItem {
  padding: 18px;
}
