h1 {
    color: darkblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: beige;
}

.topText {
    text-align: center;
}

.navButtons {
    display:inline-block;
    width: 100%;
    height: 50px;
    background-color: blue;
 
}